@font-face {
    font-family: 'comfortaa';
    src: url('fuentes/Comfortaa-Regular.ttf') format('truetype');
}

html {
    font-size: 1.3vw;
}
@media(max-width: 599px) {
    #contenedor, #contenido, #encabezado h1, .materia, .actividad {
        font-size: 12px;
    }
    #encabezado h2, #encabezado h3 {
        font-size: 10px;
    }

}
body {
    background-color: #271C33;
    background-image: url('madera.jpg');
    font-family: 'comfortaa',sans-serif;
}
#contenedor {
    /*background-color: #F5DA81;*/
    width: 90vw;
    /*max-width: 800px;
    min-width: 300px;
    border: 5px double black;
    box-shadow: 10px 10px 5px #888888;*/
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #d3e0cc;
}
#encabezado {
    font-family: 'comfortaa', sans-serif;
    font-size: 0.6rem
}
#contenido { 
    font-size: 1.2rem;
}

#contenido_estatico {
   font-size: 3rem;
}
#contenido_estatico p {
    text-align: justify;
    width: 90%;
    margin: 10px auto;
}

#resaltado {
    font-weight: bold;
}
a.boton {
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color: #B75A38;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    /*position:relative;*/
}
a.boton:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.actividad {
    background-color: #D9B98A;
    border-radius: 0.8em;    
    margin: 15px;
    padding: 5px;
    color: #271C33;
}
.actividad p {
    text-align: center;
}
.lista_principal {
    position: relative;
}
.materia {
    padding: 5px;
    display: block;
    margin: 15px auto;
    width: 60%;
    height: 40rem;
    /*width: 50vw;
    height: 50vw;*/
    border-radius: 1em;
    background-size: cover;
    position: relative;
    cursor: pointer ; 
    transition: 0.5s all ;
    background-color: #EEF5EA;
}
.materia:hover {
    box-shadow: 2px 2px 10px black;
}
.nombre_materia {
    font-family: 'comfortaa',sans-serif;
    font-size: 2em;
    text-align: center;
    display: block;
    background-color: rgba(238, 245, 234, 0.8)
}
.nombre_docente {
    font-family:'comfortaa', sans-serif;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: inline-block;
    background-color: rgba(238, 245, 234, 0.8)
}
.trabajos_inactivo {
    display: none;
}
.trabajos_activo {
    display: block;
    position: absolute;
    top: 10px;
    margin: 0 auto;
    width: 90vw;
    min-height: 60vh;
    z-index: 3;
    filter: blur(0);
    background-color: #dfe4cf;
    /*background-color: #8E7875;*/
    box-shadow: 20px 20px 9px grey;
    border-radius: 20px;
    color: white;
    overflow: auto;
    font-size: 3vw;
}
.trabajos_activo h1, .trabajos_activo h2 {
    color: #271C33;
}
.blureado {
  filter: blur(8px);
}
.cerrar {
  color: #aaa;
  float: right;
  font-size: 2em;
  margin-right: 10px;
  font-weight: bold;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    }
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }

@media (min-width: 600px) {
    .lista_principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
       
    }

#contenido_estatico {
   font-size: 0.8rem;
}
#contenido_estatico p {
    text-align: justify;
    width: 80%;
    margin: 10px auto;
}

    .materia {
        padding: 5px;
        display: inline-block;
        margin: 5px auto;
        width: 100%;
        height: 22em;
        /*width: 50vw;
        height: 50vw;*/
        border-radius: 1em;
        background-size: cover;
    }
    .trabajos_activo {
        font-size: 1.3vw;
    }


}

@media (min-width: 1024px) {
    #contenedor {
        width: 1024px;
        margin: 5px auto;
    }
    .materia {
        height: 250px;
        width: 250px;
    }
    .nombre_materia {
        font-size: 0.9em;
    }
    .nombre_docente {
        font-size: 0.7em;
        bottom: 10px;
    }
    .trabajos_activo {
        width: 1020px;
        font-size: 1vw;
    }
    .actividad {
        display: flex;
        justify-content: space-between;
        /*grid-template-columns: 2fr 2fr 1fr;*/
    }
    a.boton {
        /* hack horrible: */
        padding-top: 18px;
        vertical-align: middle;
    }
    #descargar {
        display: block;
    }
    #descargar .boton {
        padding-top: 5px;
    }

    #contacto a, #contacto a:visited {
        color: inherit;
        text-decoration: none;
    }
    
    #contacto a:hover {
        color: inherit;
        text-decoration: underline;
    }

        

}


