<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cursos</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    </head>
    <body class=text-center>
        <h1>Generador de sitio escolar</h1>
        <h2>Modificar datos del curso</h2>
        <form method="post" action="{{url_for('general')}}">
            <label for="nombre">Nombre de la escuela: </label>
            <input name="nombre" id="nombre" value="{{general[0]}}" required><br>
            <label for="numero">Número de la escuela: </label>
            <input type="number" name="numero" id="numero" 
                        value="{{general[1]}}" required><br>
            <label for="mail">Correo electrónico de la escuela: </label>
            <input type="email" name="mail" id="mail" value="{{general[2]}}" required><br>
            {{ form.csrf_token }}
            
            <input type="radio" name="tipo_hosting" value="propio" onchange="github(this.value)"
            {% if not general[3] %}checked{%endif%}>                
            Publicaré el sitio en el hosting propio de la escuela <br>
            <input type="radio" name="tipo_hosting" value="github" onchange="github(this.value);"
            {% if general[3] %}checked{%endif%}>
            Quiero un sitio Web gratuito en GitHub pages <br>  
            <label for="usuario_github">Usuario de Github: </label>
            <input name="usuario_github" id="usuario_github" 
            {% if general[3] %}value="{{general[3]}}" required
            {% else %} value="" disabled
            {%endif%}> <br>

            <label for="clave_github">Clave de Github: </label>
            <input name="clave_github" id="clave_github" 
            {% if general[3] %}value="{{general[4]}}" required
            {% else %} value="" disabled
            {%endif%}> <br>

            <input type="submit" value="Modificar datos de la escuela" class="btn btn-primary">
        </form>
         <button type="button" onclick="window.location.href = '{{url_for('home')}}';" class="btn btn-primary">
             Volver
         </button>
        <script charset="utf-8">
            function github(estado) {
                if (estado == "propio") {
                    document.getElementById("usuario_github").disabled = true;
                    document.getElementById("clave_github").disabled = true;
                }
                else {
                    document.getElementById("usuario_github").disabled = false;
                    document.getElementById("clave_github").disabled = false;
                    document.getElementById("usuario_github").focus();
                }
            }                 
        </script>
        <script src="{{ url_for('static', filename='flaskwebgui.js') }}" charset="utf-8"></script>
    </body>
</html>
