<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Generador</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        
    </head>
    <body class=text-center>
        <h1>Generador de sitio escolar</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes alert alert-info">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <button type="button" onclick="window.location.href = '{{ url_for('general') }}'" class="btn btn-primary">
            Modificar datos de la escuela
        </button><br><br>
        <button type="button" onclick="window.location.href = '{{ url_for('cursos') }}'" class="btn btn-primary">
            Modificar datos de los cursos
        </button><br><br>
        <button type="button" onclick="window.location.href = '{{ url_for('materias') }}'" class="btn btn-primary">
            Modificar datos de las materias
        </button><br><br>
        <button type="button" onclick="window.location.href = '{{ url_for('trabajos') }}'" class="btn btn-primary">
            Modificar datos de materiales y actividades
        </button><br><br><br>

        <button type="button" onclick="window.location.href = '{{ url_for('dale') }}'" class="btn btn-primary">
            Generar el sitio Web de la escuela ahora
        </button><br><br>

        <button type="button" onclick="window.location.href = '{{ url_for('subir') }}'" class="btn btn-primary"
        {% if not hay_repo %}disabled{% endif %}>
            Subir el sitio Web a Internet
        </button>

        <br>
    </body>
</html>
