<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Actividades / Material</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    </head>
    <body class=text-center>
        <h1>Generador de sitio escolar</h1>
        {% if trabajo %}
            <h2>Modificar datos del trabajo/actividad/material</h2>
            <form method="post" action="{{url_for('update_trabajos', id_trabajo = trabajo.id )}}">
                <input type="hidden" name="id_trabajo" value="{{trabajo.id}}">
        {% else %}
            <h2>Añadir nuevo trabajo/actividad/material</h2>
            <form method="post" action="{{url_for('create_trabajos')}}">
        {% endif %}
                <label for="titulo">Título del trabajo/actividad/material:</label>
                <input name="titulo" id="titulo" 
                {% if trabajo %}value="{{trabajo.titulo}}"{%endif%}><br>
                <label for="descripcion">Descripción del trabajo/actividad/material:</label>
                <input name="descripcion" id="descripcion" 
                {% if trabajo %}value="{{trabajo.descripcion}}"{%endif%}><br>
                <label for="materia">Materia: </label>
                <select name="materia" id="materia">
                {% for m in materias %}
                    <option value="{{m.id}}"
                        
                        {% if (materia and materia.id == m.id) or (trabajo and trabajo.materia.id == m.id) %}
                            selected
                        {% endif %}
                            >{{m.nombre}} ({{m.curso.anio}}º "{{m.curso.division}}")</option>
                {% endfor %}
                </select><br>
              
                <label for="publicado">Fecha publicado: </label>
                <input type="date" name="publicado" id="publicado" 
                {% if trabajo %}
                    value="{{trabajo.publicado}}"
                {%else%}
                    value="{{hoy.strftime('%Y-%m-%d')}}"
                {%endif%}><br>
                
                <input type="checkbox" name="se_entrega" id="se_entrega" onclick="habilita_entrega(this)"
                {% if trabajo and trabajo.entrega %}checked{%endif%}>
                <label for="se_entrega">¿El trabajo requiere entrega?</label><br>
                <label for="entrega">Fecha de entrega:</label>
                <input type="date" name="entrega" id="entrega"
                {% if trabajo and trabajo.entrega %}value="{{trabajo.entrega}}"
                {%else%}disabled
                {%endif%}><br>

                <label for="opcion_archivo">Nombre de archivo o dirección Web</label><br>
                <input type="radio" name="opcion_archivo" id="opcion_url" value="url" onchange="arch_url(this);"
                {%if trabajo and trabajo.es_url%}checked{%endif%}
                > Dirección Web (URL):
                <input type="text" name="archivo" id="url" placeholder="https://es.wikipedia.org/wiki/Manuel_Belgrano"
                {%if trabajo and trabajo.es_url%}value="{{trabajo.archivo}}"{%else%}disabled{%endif%}><br>

                {%if not trabajo or trabajo.es_url %}
                    <input type="radio" name="opcion_archivo" id="opcion_archivo" onchange="arch_url(this);">Archivo:
                    <input type="file" name="archivo_real" id="archivo_real" disabled onchange="modificar_nombre_archivo(this)">
                    <input type="hidden" name="archivo" id="archivo">
                    
                {%else%}
                    {%if trabajo and not trabajo.es_url %}
                        <input type="radio" name="opcion_archivo" id="opcion_archivo" onchange="arch_url(this);" checked>Archivo:
                        <input type="text" name="archivo" id="archivo" value="{{trabajo.archivo}}"><br>
                        Cambiar archivo... <input type="file" name="archivo_real" id="archivo_real" onchange="modificar_nombre_archivo(this)">
                    {%endif%}
                {%endif%}
                <div class="alert alert-info w-50 mx-auto">
                <p>Recordá que los archivos deben estar guardados en la carpeta <strong>"material"</strong></p>
                </div>

                <br>
                {{ form.csrf_token }}
                {% if trabajo %}
                    <input type="submit" value="Modificar datos del trabajo/actividad/material" class="btn btn-primary">
                {% else %}
                    <input type="submit" value="Añadir trabajo/actividad/material" class="btn btn-primary">
                {% endif %}
        </form>
        <script charset="utf-8">
function habilita_entrega(e) {
    const fecha_ent = document.getElementById("entrega");
    entrega.disabled = !(e.checked);
    entrega.required = e.checked;
}
function arch_url(e) {
    const ar = document.getElementById("archivo_real");
    const a = document.getElementById("archivo");
    const u = document.getElementById("url");
    if (e.value == "url") {
        a.disabled = true;
        ar.disabled = true;
        u.disabled = false;
    }
    else {
        a.disabled = false;
        ar.disabled = false;
        u.disabled = true;
    }
}
        
function modificar_nombre_archivo(e) {
    const nombre = e.value
    const a = document.getElementById("archivo");
    // Para sacar el "fakepath"
    a.value = nombre.substring(12)
}




        </script>
    </body>
</html>
